<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">


<hibernate-configuration>
	<session-factory>
		<property name="javax.persistence.validation.group.pre-persist">javax.validation.groups.Default</property>
		<property name="javax.persistence.validation.group.pre-update">javax.validation.groups.Default</property>
		<property name="javax.persistence.validation.group.pre-remove"></property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.show_sql">false</property>
		<property name="hibernate.cache.use_second_level_cache">false</property>
		<property name="hibernate.validator.apply_to_ddl">true</property>
		<!-- validate | update | create | create-drop -->
		<!--<property name="hibernate.hbm2ddl.auto">validate</property> -->
		<property name="hibernate.id.new_generator_mappings">true</property>

		<event type="pre-update">
			<listener class="org.hibernate.cfg.beanvalidation.BeanValidationEventListener" />
		</event>
		<event type="pre-insert">
			<listener class="org.hibernate.cfg.beanvalidation.BeanValidationEventListener" />
		</event>
		<event type="pre-delete">
			<listener class="org.hibernate.cfg.beanvalidation.BeanValidationEventListener" />
		</event>
	</session-factory>
</hibernate-configuration>
